<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
  </script>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
    type="text/css" />

  <title>Trending Movies</title>
</head>

<body id="content">
  <div class="movieRS">
    <h1>Movie Recommender System</h1>
  </div>


<!-- here i am using this if else case to check if movie entered in the search bar is in the movies_list that I have created during data analysis
for further information see line 79 of app.py -->

<!-- {% if searchedMovie in movies_list %}
<div class="searchBox form-floating mb-3">
  <form class="d-flex" action="/searchedResult" method="post" name="form">
    <input class="form-control me-2 searchMovie" type="text" id="tags" id="floatingInput" type="search"
      placeholder="What are you looking for?" name="movie">
    <label for="floatingInput">What are you looking for?</label>
    <button type="submit" class="btn btn-primary searchBtn">Search</button>
  </form>
</div>
{% else %}
<div class="searchBox form-floating mb-3">
  <form class="d-flex" action="/searchedResult4" method="post" name="form">
    <input class="form-control me-2 searchMovie" type="text" id="tags" id="floatingInput" type="search"
      placeholder="What are you looking for?" name="movie">
    <label for="floatingInput">What are you looking for?</label>
    <button type="submit" class="btn btn-primary searchBtn">Search</button>
  </form>
</div>
{% endif %} -->
<div class="searchBox form-floating mb-3">
  <form class="d-flex" action="/searchedResult" method="post" name="form">
    <input class="form-control me-2 searchMovie" type="text" id="tags" id="floatingInput" type="search"
      placeholder="What are you looking for?" name="movie">
    <label for="floatingInput">What are you looking for?</label>
    <button type="submit" class="btn btn-primary searchBtn">Search</button>
  </form>
</div> 




  <div class="trendingMovies">
    <h2>Wanna watch something? Let us decide for you!</h2>
  </div>





  <div class="movie-content">
    <!-- iterating over trending movies details and showing the poster and name in the form of card -->
    {% for poster, title in trendingMoviesDetails.items() if not trendingMoviesDetails.hidden %}
      <div class="card" style="width: 15rem;" title="{{title}}" onclick="recommendcard(this)">
        <div class="imghvr">
          <img class="card-img-top" height="360" width="240" alt="{{title}} - poster" src={{poster}}>
          <figcaption class="fig">
            <!-- <button class="card-btn btn btn-danger"> Click Me </button> -->
            <!-- trying to send movie title as value to flask using request.form and then showing information about the movie -->
            <!-- since i don't have idea about JavaScript, ajax and onlick, I used  form and an input tag with type submit, with a button to 
            transfer data directly to flask so I created a form with action /searchedResult3 and method post and sent data by putting value as
            movie's title and further using it to show information for that movie -->
            <form action="/searchedResult3" method="post" title="lEOMORD">
              <input type="submit" class="card-btn btn btn-danger" name="title" value="{{title}}">
            </form>
          </figcaption>
         </div>
        <div class="card-body">
          <h5 class="card-title">{{title|upper}}</h5>
        </div>
      </div>
  {% endfor %}
  </div>

  <!-- <form action="/button" method="post" title="lEOMORD">
    <div class="container" title="lEOMORD">
        <input type="submit" class="card-btn btn btn-danger" name="title" value="lEOMORD">
        <button class="card-btn btn btn-danger"> Click Me </button>
    </div>
</form> -->


    <!-- <img src="{{ user_image }}" alt="User Image" class="posters"> -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <script>
      $(function () {
        var availableTags = [
          {% for movie in movies_list %}
                "{{movie}}",
        {% endfor %}
        ];
      $("#tags").autocomplete({
        source: availableTags
      });
      } );

     

    </script>

</body>

</html>