<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style1.css" />
    <title>What are you interested in?
    </title>
  </head>
  <body>
    <div class="container">
      <div class="split left">
        <h1>MOVIES</h1>
        <a href="/home" class="btn">CLICK HERE</a>
      </div>
      <div class="split right">
        <h1>VIDEO GAMES</h1>
        <a href="/homeVG" class="btn">CLICK HERE</a>
      </div>
    </div>
 
    <script src="/static/script1.js"></script>
  </body>
</html>